
body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
}

.auth-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.auth-container h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #FFC107;
}

.auth-container .form-group {
    margin-bottom: 20px;
}

.auth-container .form-control {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.auth-container .btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #FFC107;
    color: white;
    border: none;
}

.auth-container .btn:hover {
    background-color: #FFA000;
}

.auth-container .form-text {
    font-size: 0.9rem;
}

.auth-toggle {
    text-align: center;
    margin-top: 15px;
}

.auth-toggle a {
    color: #FFC107;
    font-weight: bold;
    text-decoration: none;
}

.auth-toggle a:hover {
    color: #FFA000;
}

.auth-section .card {
    border: none;
}
nav {
    background-color: #343a40;
}

nav .navbar-brand, nav .navbar-nav a {
    color: white !important;
}

/* Estilo para el botón de retorno al inicio */
.back-to-top {
    background-color: #FFC107;
    color: white;
    text-align: center;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    width: auto;
    display: inline-block;
    border-radius: 25px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-to-top:hover {
    background-color: #FFA000;
    transform: scale(1.1);  /* Efecto de aumento al pasar el mouse */
}
