<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>  
  <link rel="icon" href="data:,">
  <!-- Agregar el CDN de SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

  {{{body}}} <!-- Aquí se inserta el contenido de cada vista -->

  <footer class="footer">
    <p>© 2024 Mi Aplicación</p>
  </footer>
</body>

</html>